@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body{
  background: var(--preto);
  background: linear-gradient(180deg, var(--preto) 0%, var(--preto) 35%, rgba(31,30,31,1) 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
