.containerVideo{
    /* Centralizando os itens */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle-Tittle{
    /* Poscionamento */
    position: absolute;

    /* Estlizando */
    color: var(--branco);
    font-size: 7em;
    margin-bottom: 15%;
    filter: drop-shadow(4px 0px 9px var(--preto))
}

video{
    width: 100%;
}
