.containerVideo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tittle-Tittle {
  position: absolute;
  color: var(--branco);
  font-size: 7em;
  margin-bottom: 15%;
  filter: drop-shadow(4px 0px 9px var(--preto));
}

video {
  width: 100%;
}

@media (max-width: 550px) {
  .tittle-Tittle {
    font-size: 3em;
  }
}
