.containerDrinks{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.button__bar {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
}
  
.button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.button__bar li button {
    border: none;
    background: #ffffff1a;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 7.5px;
}

.button__bar li.slick-active button {
    background-color: var(--branco);
}

.button__bar li button:hover{
    background: var(--roxo);
    outline: 0;
}

.slick-slide img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
}